.card {
	position: relative;

	&:hover {
		.hover-box {
			opacity: 1;
		}
	}

	.hover-box {
		position: absolute;
		opacity: 0;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0,0,0,0.3);
		display: flex;
		flex-direction: column;
		text-decoration: none;
		transition: opacity .3s ease-in-out;
		text-align: left;

		@include media ('>=phone') {
			margin: 0 10px;
		}

		@include media ('>=widescreen') {
			margin: 0 15px;
		}
	}

	.plus {
		position: relative;
		flex-grow: 1;

		&::after,
		&::before {
			content: '';
			background-color: $white;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}

		&::before {
			width: 18px;
			height: 3px;

			@include media ('>=tablet') {
				width: 13px;
				height: 2px;
			}

			@include media ('>=widescreen') {
				width: 20px;
				height: 4px;
			}
		}

		&::after {
			width: 3px;
			height: 18px;

			@include media ('>=tablet') {
				width: 2px;
				height: 13px;
			}

			@include media ('>=widescreen') {
				width: 4px;
				height: 20px;
			}
		}
	}

	.card-title {
		margin: 0;
		padding: 8px 17px;
		background-color: $dark-gray;
		color: $white;

		@include media ('>=tablet') {
			padding: 7px 14px;
		}

		@include media ('>=widescreen') {
			padding: 9.5px 20px;
		}
	}

	img {
		display: block;
		width: 100%;
	}
}
