// Наш грид на flexbox
// Количество колонок
$column: 12;

.grid {
	@include media ('>=phone') {
		display:flex;
		flex-wrap: wrap;
	}

	[class*="col-"] {
		margin-bottom: 26px;

		@include media ('>=phone') {
			width: calc(50% - 20px);
			margin: 10px
		}

		@include media ('>=tablet') {
			width: calc(33.33% - 20px);
		}

		@include media ('>=widescreen') {
			width: calc(33.33% - 30px);
			margin: 15px;
		}
	}
}

@for $i from 1 through $column {
	.col-#{$i} {
		width: 100% / $column * $i;
	}
}

@include media ('>=phone', '<tablet') {
	@for $i from 1 through $column {
		.col-sm-#{$i} {
			width: 100% / $column * $i;
		}
	}
}

@include media ('>=tablet', '<desktop') {
	@for $i from 1 through $column {
		.col-md-#{$i} {
			width: 100% / $column * $i;
		}
	}
}

@include media ('>=desktop') {
	@for $i from 1 through $column {
		.col-lg-#{$i} {
			width: 100% / $column * $i;
		}
	}
}
